<% include ../partials/header %>
<h1>Ask a question</h1>

<form action="/questions" method="POST">
    <input type="text" style="width:60%; height: 60px" name="title">
    <input type="submit">
</form>